@import "./mixins.scss";

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 44px;
    grid-row-gap: 44px;

    @include media-mobile-only{
        grid-template-columns: repeat(1, 1fr);

        .product {
            width: 368px;
            max-width: calc(100vw - 60px);
            margin: auto;
        }
    }
}

.product {
    border-radius: 9px;

    img {
        border-radius: 9px 9px 0 0;
    }
}

.productContent {
    background: #fff;
    padding: 42px 32px 53px;

    h2 {
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        margin: 0 0 14px;
    }

    p {
        font-size: 31px;
        font-weight: bold;
        line-height: 47px;
        margin: 14px 0;
    }

    button {
        @include redButton();
    }
}
