@mixin media-mobile-only {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin redButton {
    margin: auto;
    border: none;
    border-radius: 9px;
    background-color: #fb0009;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;

    display: block;
    margin: auto;
    max-width: 314px;
    padding: 18px 116px;

    box-shadow: 0px 8px 10px #00000024;

    white-space: nowrap;
}

