@import "./mixins.scss";

.ordersGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 44px;
    grid-row-gap: 44px;

    max-width: 302px;
    margin: auto;
}

.order {
    a,
    button {
        @include redButton();
    }
}
