@import "./mixins.scss";

.container {
    max-width: 917px;
    margin: auto;
}

.top {
    display: flex;
}

.left, .right {
    flex: 1;

    a, button {
        @include redButton();
    }
}

.left{
    flex: 2;
    max-width: 100vw;
    width: 580px;
    margin-right: 47px;;
}

.price {
    font-size: 31px;
    font-weight: 700;
}
